openapi: 3.1.2
info:
  title: Favorite Game Gauntlet
  version: 1.0.0
paths:



  /users/{name}:
    parameters:
      - $ref: "#/components/parameters/UserName"
    post:
      operationId: createUser
      tags:
        - Users
      responses:
        '200':
          description: User was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
    get:
      operationId: getUser
      tags:
        - Users
      responses:
        '200':
          description: The user was found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"

  /users/{userId}/games/unplayed:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: addUnplayedGames
      tags:
        - Games
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnplayedGamesDto"
      responses:
        '200':
          description: Unplayed games were saved
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
    get:
      operationId: getUnplayedGames
      tags:
        - Games
      responses:
        '200':
          description: Unplayed games were received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnplayedGamesDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/games/roll:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: makeGameRoll
      tags:
        - Games
      responses:
        '200':
          description: Roll for games was made
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/games/current:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getCurrentGame
      tags:
        - Games
      responses:
        '200':
          description: The current game was received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/games/current/finish:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: finishCurrentGame
      tags:
        - Games
      responses:
        '200':
          description: The current game was finished
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/games/history:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getGameHistory
      tags:
        - Games
      responses:
        '200':
          description: Game history was received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GamesDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"


  /users/{userId}/timers/current:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getCurrentTimer
      tags:
        - Timers
      responses:
        '200':
          description: The current timer was received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimerDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/timers/current/start:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: startCurrentTimer
      tags:
        - Timers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimerActionDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/timers/current/pause:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: pauseCurrentTimer
      tags:
        - Timers
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimerActionDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/effects/has-roll:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: checkEffectRoll
      tags:
        - Effects
      responses:
        '200':
          description: Roll count was received
          content:
            application/json:
              schema:
                type: boolean
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/effects/history:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getEffectHistory
      tags:
        - Effects
      responses:
        '200':
          description: Effect history was received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EffectsDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"



  /users/{userId}/effects/roll:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: makeEffectRoll
      tags:
        - Effects
      responses:
        '200':
          description: Roll for effects was made
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EffectDto"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"


components:

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/Id"
    UserName:
      name: name
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/Name"

  schemas:
    Id:
      type: string
      format: uuid
    Name:
      type: string
    UserDto:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        name:
          $ref: "#/components/schemas/Name"
      required:
        - id
        - name
    UnplayedGameDto:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/Name"
        link:
          type: string
          format: hostname
          example: "https://store.steampowered.com/app/20"
      required:
        - name
    UnplayedGamesDto:
      type: array
      items:
        $ref: '#/components/schemas/UnplayedGameDto'
    GameDto:
      allOf:
        - $ref: "#/components/schemas/UnplayedGameDto"
        - type: object
          properties:
            state:
              type: string
              enum: ['started', 'finished', 'cancelled']
          required:
            - state
    GamesDto:
      type: array
      items:
        $ref: '#/components/schemas/GameDto'
    TimerDto:
      type: object
      properties:
        state:
          type: string
          enum: ['created', 'running', 'paused', 'finished', 'rolled']
        remainingTimeInS:
          type: integer
          format: int32
        durationInS:
          type: integer
          format: int32
        timerActionDate:
          type: string
          format: date-time
      required:
        - state
        - remainingTimeInS
        - durationInS
    TimerActionDto:
      type: object
      properties:
        action:
          type: string
          enum: ['start', 'pause', 'stop']
        remainingTimeInS:
          type: integer
          format: int32
      required:
        - action
        - remainingTimeInS
    EffectDto:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/Name"
        description:
          type: string
        receivedDate:
          type: string
          format: date-time
        gameName:
          $ref: "#/components/schemas/Name"
      required:
        - name
        - description
        - receivedDate
    EffectsDto:
      type: array
      items:
        $ref: '#/components/schemas/EffectDto'

    Exception:
      type: object
      properties:
        code:
          type: string
          enum: [
              "USER_NOT_FOUND", "GAME_NOT_FOUND", "TIMER_NOT_FOUND",
              "NO_AVAILABLE_ROLLS", "USER_ALREADY_EXISTS", "TIMER_INCORRECT_STATE",
              "UNEXPECTED", "CHECK_USER", "CHECK_CURRENT_GAME", "CHECK_CURRENT_TIMER",
              "GETUSER", "GET_UNPLAYED_GAMES", "GET_CURRENT_GAME", "GET_CURRENT_TIMER",
              "CREATE_USER", "ADD_UNPLAYED_GAMES", "START_CURRENT_TIMER", "PAUSE_CURRENT_TIMER"
            ]
        message:
          type: string
      required:
        - code
        - message
