openapi: 3.1.2
info:
  title: Favorite Game Gauntlet
  version: 1.0.0
paths:



  /users/{name}:
    parameters:
      - $ref: "#/components/parameters/UserName"
    post:
      operationId: createUser
      tags:
        - Users
      responses:
        '200':
          description: User was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAlreadyExistsException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"
    get:
      operationId: getUser
      tags:
        - Users
      responses:
        '200':
          description: The user was found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/games/unplayed:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: addUnplayedGames
      tags:
        - Games
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Games"
      responses:
        '200':
          description: Unplayed games were saved
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"
    get:
      operationId: getUnplayedGames
      tags:
        - Games
      responses:
        '200':
          description: Unplayed games were received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Games"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/games/roll:
    parameters:
    - $ref: "#/components/parameters/UserId"
    get:
      operationId: makeGameRoll
      tags:
        - Games
      responses:
        '200':
          description: Roll for games was made
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoAvailableRollsException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/games/current:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getCurrentGame
      tags:
        - Games
      responses:
        '200':
          description: The current game was received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        '404':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/UserNotFoundException"
                  - $ref: "#/components/schemas/GameNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/games/current/finish:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: finishCurrentGame
      tags:
        - Games
      responses:
        '200':
          description: The current game was finished
        '404':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/UserNotFoundException"
                  - $ref: "#/components/schemas/GameNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/timers/current:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getCurrentTimer
      tags:
        - Timers
      responses:
        '200':
          description: The current timer was received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Timer"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/timers/current/start:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: startCurrentTimer
      tags:
        - Timers
      responses:
        '200':
          description: Timer started
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/timers/current/pause:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: pauseCurrentTimer
      tags:
        - Timers
      responses:
        '200':
          description: Timer paused
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/effects/has-roll:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: checkEffectRoll
      tags:
        - Effects
      responses:
        '200':
          description: Roll count was received
          content:
            application/json:
              schema:
                type: boolean
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/effects/history:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getEffectHistory
      tags:
        - Effects
      responses:
        '200':
          description: Effect history was received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Effects"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"



  /users/{userId}/effects/roll:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: makeEffectRoll
      tags:
        - Effects
      responses:
        '200':
          description: Roll for effects was made
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Effect"
        '404':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFoundException"
        '409':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoAvailableRollsException"
        '503':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseQueryException"
        
  
components:

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/Id"
    UserName:
      name: name
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/Name"

  schemas:
    Id:
      type: string
      format: uuid
    Name:
      type: string
    User:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        name:
          $ref: "#/components/schemas/Name"
      required:
        - id
        - name
    Game:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/Name"
        link:
          type: string
          format: hostname
          example: "https://store.steampowered.com/app/20"
      required:
        - name
    Games:
      type: array
      items:
        $ref: '#/components/schemas/Game'
    Timer:
      type: object
      properties:
        gameId:
          $ref: "#/components/schemas/Id"
        state:
          type: string
          enum: ['created', 'running', 'paused', 'finished']
        remainingTimeInS:
          type: integer
          format: int32
        durationInS:
          type: integer
          format: int32
      required:
        - gameId
        - state
        - remainingTimeInS
        - durationInS
    Effect:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/Name"
        description:
          type: string
        receivedDate:
          type: string
          format: date-time
        gameName:
          $ref: "#/components/schemas/Name"
      required:
        - name
        - description
        - receivedDate
    Effects:
      type: array
      items:
        $ref: '#/components/schemas/Effect'
        
    Exception:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    UserNotFoundException:
      allOf:
        - $ref: "#/components/schemas/Exception"
        - type: object
          properties:
            code:
              type: string
              enum: ["USER_NOT_FOUND"]
    GameNotFoundException:
      allOf:
        - $ref: "#/components/schemas/Exception"
        - type: object
          properties:
            code:
              type: string
              enum: ["GAME_NOT_FOUND"]
    NoAvailableRollsException:
      allOf:
        - $ref: "#/components/schemas/Exception"
        - type: object
          properties:
            code:
              type: string
              enum: ["NO_AVAILABLE_ROLLS"]
    UserAlreadyExistsException:
      allOf:
        - $ref: "#/components/schemas/Exception"
        - type: object
          properties:
            code:
              type: string
              enum: ["USER_ALREADY_EXISTS"]
    DatabaseQueryException:
      allOf:
        - $ref: "#/components/schemas/Exception"
        - type: object
          properties:
            code:
              type: string
              enum: ["DATABASE_QUERY"]
