openapi: 3.0.4
info:
  title: Favorite Game Gauntlet
  version: 0.9.0
paths:

  /auth/signup:
    $ref: "/paths/auth/signup.yaml"

  /auth/login:
    $ref: "/paths/auth/login.yaml"

  /auth/logout:
    $ref: "/paths/auth/logout.yaml"



  /users/names:
    $ref: "/paths/users/names.yaml"

  /users/self/display-name:
    $ref: "/paths/users/self/display-name.yaml"



  /games/self/wishlist:
    $ref: "/paths/games/self/wishlist.yaml"

  /games/{login}/wishlist:
    $ref: "/paths/games/login/wishlist.yaml"

  /games/self/current:
    $ref: "/paths/games/self/current.yaml"

  /games/{login}/current:
    $ref: "/paths/games/login/current.yaml"

  /games/self/current/roll:
    $ref: "/paths/games/self/current/roll.yaml"

  /games/self/current/finish:
    $ref: "/paths/games/self/current/finish.yaml"

  /games/self/current/cancel:
    $ref: "/paths/games/self/current/cancel.yaml"

  /games/self/history:
    $ref: "/paths/games/self/history.yaml"

  /games/{login}/history:
    $ref: "/paths/games/login/history.yaml"



  /timers/self/current:
    $ref: "/paths/timers/self/current.yaml"

  /timers/self/current/start:
    $ref: "/paths/timers/self/current/start.yaml"

  /timers/self/current/pause:
    $ref: "/paths/timers/self/current/pause.yaml"



  /wheel-effects/self/history:
    $ref: "/paths/wheel-effects/self/history.yaml"

  /wheel-effects/{login}/history:
    $ref: "/paths/wheel-effects/login/history.yaml"

  /wheel-effects/self/available:
    $ref: "/paths/wheel-effects/self/available.yaml"

  /wheel-effects/available/roll:
    $ref: "/paths/wheel-effects/self/available/roll.yaml"

  /wheel-effects/available/roll/count:
    $ref: "/paths/wheel-effects/self/available/roll/count.yaml"

  /wheel-effects/available/roll/apply:
    $ref: "/paths/wheel-effects/self/available/roll/apply.yaml"



  /points/self/info:
    $ref: "/paths/points/self/info.yaml"

  /points/{login}/info:
    $ref: "/paths/points/login/info.yaml"

  /points/self/territory-points:
    $ref: "/paths/points/self/territory-points.yaml"

  /points/self/territory-points/history:
    $ref: "/paths/points/self/territory-points/history.yaml"

  /points/{login}/territory-points/history:
    $ref: "/paths/points/login/territory-points/history.yaml"

  /points/self/free-points:
    $ref: "/paths/points/self/free-points.yaml"

  /points/self/free-points/history:
    $ref: "/paths/points/self/free-points/history.yaml"

  /points/{login}/free-points/history:
    $ref: "/paths/points/login/free-points/history.yaml"

  /points/self/experience-points:
    $ref: "/paths/points/self/experience-points.yaml"

  /points/self/territory-hours:
    $ref: "/paths/points/self/territory-hours.yaml"
